.booking__page {
    &.content {
        margin-top: 91px;
    }
    .content-booking {
        padding: 20px 140px;

        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 20px;
        }
        .error {
            color: red;
            font-size: 14px;
            font-weight: 600;
        }
        .count-customer {
            display: flex;
            justify-content: space-between;

            .customer-count__title {
                margin: 0;
                margin-top: 10px;
                font-size: 14px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            .count {
                margin: 0;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        .info__booking {
            .info__booking__title {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .info__booking__content {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .info__booking__content__left {
                    font-size: 14px;
                }
                .info__booking__content__right {
                    font-size: 14px;

                    .edit-date {
                        font-size: 16px;
                        cursor: pointer;
                    }

                    .edit-date:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .payment__paypal {
            width: 100%;
            padding: 20px 35px;
        }

        .card-booking__room {
            position: relative;
            border-radius: 10px;

            height: auto;

            width: 395px;
            padding-bottom: 15px;
            z-index: 100;

            .header-room__booking {
                position: relative;
                padding: 15px 20px;
                display: flex;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Droid Sans, Helvetica Neue, Helvetica,
                    Arial, sans-serif;

                .image-room__booking {
                    width: 120px;
                    height: 120px;
                    max-width: 120px;
                    max-height: 120px;
                    min-height: 120px;
                    min-width: 120px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }

                .desc-room__booking {
                    margin: 5px 5px;
                    padding-left: 5px;

                    .desc-all {
                        color: #717171;
                        font-size: 13px;
                        margin: 0;
                        margin-bottom: 5px;
                    }

                    .name-room-booking {
                        font-size: 15px;
                        font-weight: 650;
                        letter-spacing: 0.6px;
                        margin: 0;
                        margin-bottom: 5px;
                    }
                }

                .locate-room-booking {
                    display: flex;

                    .icon-locate-booking {
                        color: blue;
                        font-size: 16px;
                    }

                    p {
                        margin: 0;
                        font-size: 12px;
                        padding-left: 4px;
                    }
                }

                .name-host-room {
                    position: absolute;
                    font-size: 14px;
                    bottom: 0;
                    // right: 20px;
                }
            }

            .policy-booking {
                display: grid;
                padding: 10px 20px;
                font-size: 14px;
                margin-bottom: 5px;
            }

            .card-surcharge {
                width: auto;
                height: auto;
                margin: 0 20px;
                padding-bottom: 8px;

                p {
                    margin: 0;
                    padding: 10px;
                    font-size: 13px;
                    font-weight: 600;
                }

                li {
                    justify-content: space-between;
                    padding-left: 15px;
                    margin-bottom: 4px;
                    font-size: 12px;
                }
            }

            .price-booking {
                margin: 0 20px;
                font-size: 14px;
                p {
                    margin-bottom: 0;
                }
                .price-room-booking {
                    display: flex;
                    justify-content: space-between;
                }
                .price-total-booking {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .line-card {
                margin: 0px 20px 5px 20px;
            }
        }
        .btn__booking {
            button {
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: none;
                background-color: var(--main-color);
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            button:hover {
                background-color: var(--second-color);
            }
            button:disabled {
                color: var(--disabled-cl);
                background-color: var(--disabled-br);
            }
        }
    }
}
