.step-three {
    margin-top: -45px;
    position: absolute;
    width: 100%;
    .l-6:nth-child(1) {
        position: relative;
        height: 100vh;
        background: linear-gradient(45deg, #f48fb1, #f5f5f5);;
        z-index: -1;

        justify-items: center; /* Căn giữa chiều ngang */
        background-image: url("/src/assets/imageMaster/homeStep3.gif");
        .require-step3 {
            position: absolute;
            margin-top: 10%;

            .image-step3 {
                width: 100%;
            }
    
            h1 {
                text-align: center;
                width: 100%;
                margin-top: 10px;
            }
        }

        
    }

    .l-6:nth-child(2) {
        position: relative;
        height: 90vh;
        justify-items: center; /* Căn giữa chiều ngang */
        align-content: center; /* Căn giữa chiều dọc */
        
        .btn-out {
            position: absolute;
            top: 70px;
            right: 50px;
            font-size: 12px;
            border-radius: 15px;
            color: var(--white-color);
            padding: 5px 20px;
            background: #616161;
            width: auto;
            cursor: pointer;
            text-decoration: none;
        }

        .btn-out:hover {
            background: #9e9e9e;
        }
    }
}
