.banner-owner {
    margin-top: 75px;
    position: relative;
    .welcome-card {
        width: 100%;
        height: 250px;

        display: flex;

        .welcome-content {
            width: 100%;
            &__left {
                // border-radius: 20px;
                // clip-path: polygon(0% 0%, 50% 0%, 90% 20%, 100% 40%, 100% 45%, 100% 60%, 90% 80%, 50% 100%, 0% 100%, 0% 100%);
                // clip-path: polygon(0 0, 70% 0, 100% 45%, 100% 55%, 70% 100%, 0 100%);

                padding-top: 25px;
                padding-left: 150px;
                background: linear-gradient(45deg, var(--primary-dark), var(--primary-main));
                // clip-path: polygon(
                //     100% 0%,
                //     0% 0%,
                //     0% 98%,
                //     100% 99%,
                //     94% 96%,
                //     100% 94%,
                //     97% 92%,
                //     100% 87%,
                //     92% 85%,
                //     100% 84%,
                //     92% 82%,
                //     98% 80%,
                //     89% 76%,
                //     100% 74%,
                //     90% 69%,
                //     99% 67%,
                //     95% 63%,
                //     100% 61%,
                //     94% 58%,
                //     100% 55%,
                //     91% 55%,
                //     95% 52%,
                //     84% 49%,
                //     100% 45%,
                //     93% 44%,
                //     99% 41%,
                //     89% 39%,
                //     97% 36%,
                //     89% 31%,
                //     100% 30%,
                //     90% 27%,
                //     97% 26%,
                //     95% 23%,
                //     97% 22%,
                //     90% 21%,
                //     100% 19%,
                //     94% 15%,
                //     97% 13%,
                //     100% 10%,
                //     93% 10%,
                //     100% 6%
                // );
                clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);

                position: relative;
                overflow: hidden;
                transform: translateX(-100%);
                animation: slideIn 0.8s forwards;

                @keyframes slideIn {
                    to {
                        transform: translateX(0);
                    }
                }

                h1 {
                    color: var(--white-color);
                }
                p {
                    color: var(--white-color);
                    font-size: 16px;
                    width: 80%;
                }
            }
            &__right {
                display: flex;
                align-items: center;
                place-content: center;
                transform: translateY(-100%);
                animation: slideIn 0.8s forwards;

                @keyframes slideIn {
                    to {
                        transform: translateX(0);
                    }
                }
                img {
                    height: 250px;
                }
            }
        }
    }
}
