:root, [mode='light']{
    --background-default: #eeeeee;
    --background-paper: #FFFFFF;
    --background-contrastText: #000000;
    --background-defaultChannel: 238 238 238;
    --background-contrastTextChannel: 0 0 0;
    --mainColor-main: #FFFFFF;
    --mainColor-contrastText: #000000;
    --mainColor-mainChannel: 255 255 255;
    --mainColor-contrastTextChannel: 0 0 0;
    --orange-main: #f4511e;
    --orange-contrastText: #fff;
    --orange-mainChannel: 244 81 30;
    --orange-contrastTextChannel: 255 255 255;
    --green-main: #00FF00;
    --green-mainChannel: 0 255 0;
    --common-black: #000;
    --common-white: #fff;
    --common-background: #fff;
    --common-onBackground: #000;
    --common-backgroundChannel: 255 255 255;
    --common-onBackgroundChannel: 0 0 0;
    --primary-main: #1976d2;
    --primary-light: #42a5f5;
    --primary-dark: #1565c0;
    --primary-contrastText: #fff;
    --primary-mainChannel: 25 118 210;
    --primary-lightChannel: 66 165 245;
    --primary-darkChannel: 21 101 192;
    --primary-contrastTextChannel: 255 255 255;
    --secondary-main: #9c27b0;
    --secondary-light: #ba68c8;
    --secondary-dark: #7b1fa2;
    --secondary-contrastText: #fff;
    --secondary-mainChannel: 156 39 176;
    --secondary-lightChannel: 186 104 200;
    --secondary-darkChannel: 123 31 162;
    --secondary-contrastTextChannel: 255 255 255;
    --error-main: #d32f2f;
    --error-light: #ef5350;
    --error-dark: #c62828;
    --error-contrastText: #fff;
    --error-mainChannel: 211 47 47;
    --error-lightChannel: 239 83 80;
    --error-darkChannel: 198 40 40;
    --error-contrastTextChannel: 255 255 255;
    --warning-main: #ed6c02;
    --warning-light: #ff9800;
    --warning-dark: #e65100;
    --warning-contrastText: #fff;
    --warning-mainChannel: 237 108 2;
    --warning-lightChannel: 255 152 0;
    --warning-darkChannel: 230 81 0;
    --warning-contrastTextChannel: 255 255 255;
    --info-main: #0288d1;
    --info-light: #03a9f4;
    --info-dark: #01579b;
    --info-contrastText: #fff;
    --info-mainChannel: 2 136 209;
    --info-lightChannel: 3 169 244;
    --info-darkChannel: 1 87 155;
    --info-contrastTextChannel: 255 255 255;
    --success-main: #2e7d32;
    --success-light: #4caf50;
    --success-dark: #1b5e20;
    --success-contrastText: #fff;
    --success-mainChannel: 46 125 50;
    --success-lightChannel: 76 175 80;
    --success-darkChannel: 27 94 32;
    --success-contrastTextChannel: 255 255 255;
    --grey-50: #fafafa;
    --grey-100: #f5f5f5;
    --grey-200: #eeeeee;
    --grey-300: #e0e0e0;
    --grey-400: #bdbdbd;
    --grey-500: #9e9e9e;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;
    --grey-900: #212121;
    --grey-A100: #f5f5f5;
    --grey-A200: #eeeeee;
    --grey-A400: #bdbdbd;
    --grey-A700: #616161;
    --text-primary: rgba(0, 0, 0, 0.87);
    --text-secondary: rgba(0, 0, 0, 0.6);
    --text-disabled: rgba(0, 0, 0, 0.38);
    --text-primaryChannel: 0 0 0;
    --text-secondaryChannel: 0 0 0;
    --divider: rgba(0, 0, 0, 0.12);
    --action-active: rgba(0, 0, 0, 0.54);
    --action-hover: rgba(0, 0, 0, 0.04);
    --action-hoverOpacity: 0.04;
    --action-selected: rgba(0, 0, 0, 0.08);
    --action-selectedOpacity: 0.08;
    --action-disabled: rgba(0, 0, 0, 0.26);
    --action-disabledBackground: rgba(0, 0, 0, 0.12);
    --action-disabledOpacity: 0.38;
    --action-focus: rgba(0, 0, 0, 0.12);
    --action-focusOpacity: 0.12;
    --action-activatedOpacity: 0.12;
    --action-activeChannel: 0 0 0;
    --action-selectedChannel: 0 0 0;
    --Alert-errorColor: rgb(95, 33, 32);
    --Alert-infoColor: rgb(1, 67, 97);
    --Alert-successColor: rgb(30, 70, 32);
    --Alert-warningColor: rgb(102, 60, 0);
    --Alert-errorFilledBg: var(--error-main, #d32f2f);
    --Alert-infoFilledBg: var(--info-main, #0288d1);
    --Alert-successFilledBg: var(--success-main, #2e7d32);
    --Alert-warningFilledBg: var(--warning-main, #ed6c02);
    --Alert-errorFilledColor: #fff;
    --Alert-infoFilledColor: #fff;
    --Alert-successFilledColor: #fff;
    --Alert-warningFilledColor: #fff;
    --Alert-errorStandardBg: rgb(253, 237, 237);
    --Alert-infoStandardBg: rgb(229, 246, 253);
    --Alert-successStandardBg: rgb(237, 247, 237);
    --Alert-warningStandardBg: rgb(255, 244, 229);
    --Alert-errorIconColor: var(--error-main, #d32f2f);
    --Alert-infoIconColor: var(--info-main, #0288d1);
    --Alert-successIconColor: var(--success-main, #2e7d32);
    --Alert-warningIconColor: var(--warning-main, #ed6c02);
    --AppBar-defaultBg: var(--grey-100, #f5f5f5);
    --Avatar-defaultBg: var(--grey-400, #bdbdbd);
    --Button-inheritContainedBg: var(--grey-300, #e0e0e0);
    --Button-inheritContainedHoverBg: var(--grey-A100, #f5f5f5);
    --Chip-defaultBorder: var(--grey-400, #bdbdbd);
    --Chip-defaultAvatarColor: var(--grey-700, #616161);
    --Chip-defaultIconColor: var(--grey-700, #616161);
    --FilledInput-bg: rgba(0, 0, 0, 0.06);
    --FilledInput-hoverBg: rgba(0, 0, 0, 0.09);
    --FilledInput-disabledBg: rgba(0, 0, 0, 0.12);
    --LinearProgress-primaryBg: rgb(167, 202, 237);
    --LinearProgress-secondaryBg: rgb(217, 172, 224);
    --LinearProgress-errorBg: rgb(238, 175, 175);
    --LinearProgress-infoBg: rgb(158, 209, 237);
    --LinearProgress-successBg: rgb(175, 205, 177);
    --LinearProgress-warningBg: rgb(248, 199, 158);
    --Skeleton-bg: rgba(var(--text-primaryChannel, undefined) / 0.11);
    --Slider-primaryTrack: rgb(167, 202, 237);
    --Slider-secondaryTrack: rgb(217, 172, 224);
    --Slider-errorTrack: rgb(238, 175, 175);
    --Slider-infoTrack: rgb(158, 209, 237);
    --Slider-successTrack: rgb(175, 205, 177);
    --Slider-warningTrack: rgb(248, 199, 158);
    --SnackbarContent-bg: #eeeeee;
    --SnackbarContent-color: rgba(0, 0, 0, 0.87);
    --SpeedDialAction-fabHoverBg: #FFFFFF;
    --StepConnector-border: var(--grey-400, #bdbdbd);
    --StepContent-border: var(--grey-400, #bdbdbd);
    --Switch-defaultColor: var(--common-white, #fff);
    --Switch-defaultDisabledColor: var(--grey-100, #f5f5f5);
    --Switch-primaryDisabledColor: rgb(167, 202, 237);
    --Switch-secondaryDisabledColor: rgb(217, 172, 224);
    --Switch-errorDisabledColor: rgb(238, 175, 175);
    --Switch-infoDisabledColor: rgb(158, 209, 237);
    --Switch-successDisabledColor: rgb(175, 205, 177);
    --Switch-warningDisabledColor: rgb(248, 199, 158);
    --TableCell-border: rgba(224, 224, 224, 1);
    --Tooltip-bg: rgba(97, 97, 97, 0.92);
    --dividerChannel: 0 0 0;
    --opacity-inputPlaceholder: 0.42;
    --opacity-inputUnderline: 0.42;
    --opacity-switchTrackDisabled: 0.12;
    --opacity-switchTrack: 0.38;
}

:root, [mode='dark']{
    --background-default: #222222;
    --background-paper: #242424;
    --background-contrastText: #fff;
    --background-defaultChannel: 34 34 34;
    --background-contrastTextChannel: 255 255 255;
    --mainColor-main: #424242;
    --mainColor-contrastText: #fff;
    --mainColor-mainChannel: 66 66 66;
    --mainColor-contrastTextChannel: 255 255 255;
    --orange-main: #f4511e;
    --orange-contrastText: #fff;
    --orange-mainChannel: 244 81 30;
    --orange-contrastTextChannel: 255 255 255;
    --green-main: #00FF00;
    --green-mainChannel: 0 255 0;
    --common-black: #000;
    --common-white: #fff;
    --common-background: #000;
    --common-onBackground: #fff;
    --common-backgroundChannel: 0 0 0;
    --common-onBackgroundChannel: 255 255 255;
    --primary-main: #90caf9;
    --primary-light: #e3f2fd;
    --primary-dark: #42a5f5;
    --primary-contrastText: rgba(0, 0, 0, 0.87);
    --primary-mainChannel: 144 202 249;
    --primary-lightChannel: 227 242 253;
    --primary-darkChannel: 66 165 245;
    --primary-contrastTextChannel: 0 0 0;
    --secondary-main: #ce93d8;
    --secondary-light: #f3e5f5;
    --secondary-dark: #ab47bc;
    --secondary-contrastText: rgba(0, 0, 0, 0.87);
    --secondary-mainChannel: 206 147 216;
    --secondary-lightChannel: 243 229 245;
    --secondary-darkChannel: 171 71 188;
    --secondary-contrastTextChannel: 0 0 0;
    --error-main: #f44336;
    --error-light: #e57373;
    --error-dark: #d32f2f;
    --error-contrastText: #fff;
    --error-mainChannel: 244 67 54;
    --error-lightChannel: 229 115 115;
    --error-darkChannel: 211 47 47;
    --error-contrastTextChannel: 255 255 255;
    --warning-main: #ffa726;
    --warning-light: #ffb74d;
    --warning-dark: #f57c00;
    --warning-contrastText: rgba(0, 0, 0, 0.87);
    --warning-mainChannel: 255 167 38;
    --warning-lightChannel: 255 183 77;
    --warning-darkChannel: 245 124 0;
    --warning-contrastTextChannel: 0 0 0;
    --info-main: #29b6f6;
    --info-light: #4fc3f7;
    --info-dark: #0288d1;
    --info-contrastText: rgba(0, 0, 0, 0.87);
    --info-mainChannel: 41 182 246;
    --info-lightChannel: 79 195 247;
    --info-darkChannel: 2 136 209;
    --info-contrastTextChannel: 0 0 0;
    --success-main: #66bb6a;
    --success-light: #81c784;
    --success-dark: #388e3c;
    --success-contrastText: rgba(0, 0, 0, 0.87);
    --success-mainChannel: 102 187 106;
    --success-lightChannel: 129 199 132;
    --success-darkChannel: 56 142 60;
    --success-contrastTextChannel: 0 0 0;
    --grey-50: #fafafa;
    --grey-100: #f5f5f5;
    --grey-200: #eeeeee;
    --grey-300: #e0e0e0;
    --grey-400: #bdbdbd;
    --grey-500: #9e9e9e;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;
    --grey-900: #212121;
    --grey-A100: #f5f5f5;
    --grey-A200: #eeeeee;
    --grey-A400: #bdbdbd;
    --grey-A700: #616161;
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.7);
    --text-disabled: rgba(255, 255, 255, 0.5);
    --text-icon: rgba(255, 255, 255, 0.5);
    --text-primaryChannel: 255 255 255;
    --text-secondaryChannel: 255 255 255;
    --divider: rgba(255, 255, 255, 0.12);
    --action-active: #fff;
    --action-hover: rgba(255, 255, 255, 0.08);
    --action-hoverOpacity: 0.08;
    --action-selected: rgba(255, 255, 255, 0.16);
    --action-selectedOpacity: 0.16;
    --action-disabled: rgba(255, 255, 255, 0.3);
    --action-disabledBackground: rgba(255, 255, 255, 0.12);
    --action-disabledOpacity: 0.38;
    --action-focus: rgba(255, 255, 255, 0.12);
    --action-focusOpacity: 0.12;
    --action-activatedOpacity: 0.24;
    --action-activeChannel: 255 255 255;
    --action-selectedChannel: 255 255 255;
    --Alert-errorColor: rgb(244, 199, 199);
    --Alert-infoColor: rgb(184, 231, 251);
    --Alert-successColor: rgb(204, 232, 205);
    --Alert-warningColor: rgb(255, 226, 183);
    --Alert-errorFilledBg: var(--error-dark, #d32f2f);
    --Alert-infoFilledBg: var(--info-dark, #0288d1);
    --Alert-successFilledBg: var(--success-dark, #388e3c);
    --Alert-warningFilledBg: var(--warning-dark, #f57c00);
    --Alert-errorFilledColor: #fff;
    --Alert-infoFilledColor: #fff;
    --Alert-successFilledColor: #fff;
    --Alert-warningFilledColor: rgba(0, 0, 0, 0.87);
    --Alert-errorStandardBg: rgb(22, 11, 11);
    --Alert-infoStandardBg: rgb(7, 19, 24);
    --Alert-successStandardBg: rgb(12, 19, 13);
    --Alert-warningStandardBg: rgb(25, 18, 7);
    --Alert-errorIconColor: var(--error-main, #f44336);
    --Alert-infoIconColor: var(--info-main, #29b6f6);
    --Alert-successIconColor: var(--success-main, #66bb6a);
    --Alert-warningIconColor: var(--warning-main, #ffa726);
    --AppBar-defaultBg: var(--grey-900, #212121);
    --AppBar-darkBg: var(--background-paper, #242424);
    --AppBar-darkColor: var(--text-primary, #fff);
    --Avatar-defaultBg: var(--grey-600, #757575);
    --Button-inheritContainedBg: var(--grey-800, #424242);
    --Button-inheritContainedHoverBg: var(--grey-700, #616161);
    --Chip-defaultBorder: var(--grey-700, #616161);
    --Chip-defaultAvatarColor: var(--grey-300, #e0e0e0);
    --Chip-defaultIconColor: var(--grey-300, #e0e0e0);
    --FilledInput-bg: rgba(255, 255, 255, 0.09);
    --FilledInput-hoverBg: rgba(255, 255, 255, 0.13);
    --FilledInput-disabledBg: rgba(255, 255, 255, 0.12);
    --LinearProgress-primaryBg: rgb(72, 101, 124);
    --LinearProgress-secondaryBg: rgb(103, 73, 108);
    --LinearProgress-errorBg: rgb(122, 33, 27);
    --LinearProgress-infoBg: rgb(20, 91, 123);
    --LinearProgress-successBg: rgb(51, 93, 53);
    --LinearProgress-warningBg: rgb(127, 83, 19);
    --Skeleton-bg: rgba(var(--text-primaryChannel, undefined) / 0.13);
    --Slider-primaryTrack: rgb(72, 101, 124);
    --Slider-secondaryTrack: rgb(103, 73, 108);
    --Slider-errorTrack: rgb(122, 33, 27);
    --Slider-infoTrack: rgb(20, 91, 123);
    --Slider-successTrack: rgb(51, 93, 53);
    --Slider-warningTrack: rgb(127, 83, 19);
    --SnackbarContent-bg: #222222;
    --SnackbarContent-color: #fff;
    --SpeedDialAction-fabHoverBg: #242424;
    --StepConnector-border: var(--grey-600, #757575);
    --StepContent-border: var(--grey-600, #757575);
    --Switch-defaultColor: var(--grey-300, #e0e0e0);
    --Switch-defaultDisabledColor: var(--grey-600, #757575);
    --Switch-primaryDisabledColor: rgb(64, 90, 112);
    --Switch-secondaryDisabledColor: rgb(92, 66, 97);
    --Switch-errorDisabledColor: rgb(109, 30, 24);
    --Switch-infoDisabledColor: rgb(18, 81, 110);
    --Switch-successDisabledColor: rgb(45, 84, 47);
    --Switch-warningDisabledColor: rgb(114, 75, 17);
    --TableCell-border: rgba(81, 81, 81, 1);
    --Tooltip-bg: rgba(97, 97, 97, 0.92);
    --dividerChannel: 255 255 255;
    --opacity-inputPlaceholder: 0.5;
    --opacity-inputUnderline: 0.7;
    --opacity-switchTrackDisabled: 0.2;
    --opacity-switchTrack: 0.3;
    --overlays-1: linear-gradient(rgba(255 255 255 / 0.05), rgba(255 255 255 / 0.05));
    --overlays-2: linear-gradient(rgba(255 255 255 / 0.07), rgba(255 255 255 / 0.07));
    --overlays-3: linear-gradient(rgba(255 255 255 / 0.08), rgba(255 255 255 / 0.08));
    --overlays-4: linear-gradient(rgba(255 255 255 / 0.09), rgba(255 255 255 / 0.09));
    --overlays-5: linear-gradient(rgba(255 255 255 / 0.10), rgba(255 255 255 / 0.10));
    --overlays-6: linear-gradient(rgba(255 255 255 / 0.11), rgba(255 255 255 / 0.11));
    --overlays-7: linear-gradient(rgba(255 255 255 / 0.11), rgba(255 255 255 / 0.11));
    --overlays-8: linear-gradient(rgba(255 255 255 / 0.12), rgba(255 255 255 / 0.12));
    --overlays-9: linear-gradient(rgba(255 255 255 / 0.12), rgba(255 255 255 / 0.12));
    --overlays-10: linear-gradient(rgba(255 255 255 / 0.13), rgba(255 255 255 / 0.13));
    --overlays-11: linear-gradient(rgba(255 255 255 / 0.13), rgba(255 255 255 / 0.13));
    --overlays-12: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
    --overlays-13: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
    --overlays-14: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
    --overlays-15: linear-gradient(rgba(255 255 255 / 0.14), rgba(255 255 255 / 0.14));
    --overlays-16: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
    --overlays-17: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
    --overlays-18: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
    --overlays-19: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
    --overlays-20: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
    --overlays-21: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
    --overlays-22: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
    --overlays-23: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
    --overlays-24: linear-gradient(rgba(255 255 255 / 0.16), rgba(255 255 255 / 0.16));
}

:root {
    --shape-borderRadius: 4px;
    --shadows-0: none;
    --shadows-1: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    --shadows-2: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    --shadows-3: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
    --shadows-4: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    --shadows-5: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
    --shadows-6: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
    --shadows-7: 0px 4px 5px -2px rgba(0,0,0,0.2),0px 7px 10px 1px rgba(0,0,0,0.14),0px 2px 16px 1px rgba(0,0,0,0.12);
    --shadows-8: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
    --shadows-9: 0px 5px 6px -3px rgba(0,0,0,0.2),0px 9px 12px 1px rgba(0,0,0,0.14),0px 3px 16px 2px rgba(0,0,0,0.12);
    --shadows-10: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
    --shadows-11: 0px 6px 7px -4px rgba(0,0,0,0.2),0px 11px 15px 1px rgba(0,0,0,0.14),0px 4px 20px 3px rgba(0,0,0,0.12);
    --shadows-12: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
    --shadows-13: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 13px 19px 2px rgba(0,0,0,0.14),0px 5px 24px 4px rgba(0,0,0,0.12);
    --shadows-14: 0px 7px 9px -4px rgba(0,0,0,0.2),0px 14px 21px 2px rgba(0,0,0,0.14),0px 5px 26px 4px rgba(0,0,0,0.12);
    --shadows-15: 0px 8px 9px -5px rgba(0,0,0,0.2),0px 15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12);
    --shadows-16: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
    --shadows-17: 0px 8px 11px -5px rgba(0,0,0,0.2),0px 17px 26px 2px rgba(0,0,0,0.14),0px 6px 32px 5px rgba(0,0,0,0.12);
    --shadows-18: 0px 9px 11px -5px rgba(0,0,0,0.2),0px 18px 28px 2px rgba(0,0,0,0.14),0px 7px 34px 6px rgba(0,0,0,0.12);
    --shadows-19: 0px 9px 12px -6px rgba(0,0,0,0.2),0px 19px 29px 2px rgba(0,0,0,0.14),0px 7px 36px 6px rgba(0,0,0,0.12);
    --shadows-20: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
    --shadows-21: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 21px 33px 3px rgba(0,0,0,0.14),0px 8px 40px 7px rgba(0,0,0,0.12);
    --shadows-22: 0px 10px 14px -6px rgba(0,0,0,0.2),0px 22px 35px 3px rgba(0,0,0,0.14),0px 8px 42px 7px rgba(0,0,0,0.12);
    --shadows-23: 0px 11px 14px -7px rgba(0,0,0,0.2),0px 23px 36px 3px rgba(0,0,0,0.14),0px 9px 44px 8px rgba(0,0,0,0.12);
    --shadows-24: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
    --zIndex-mobileStepper: 1000;
    --zIndex-fab: 1050;
    --zIndex-speedDial: 1050;
    --zIndex-appBar: 1100;
    --zIndex-drawer: 1200;
    --zIndex-modal: 1300;
    --zIndex-snackbar: 1400;
    --zIndex-tooltip: 1500;
}