.image-setting {
    padding-bottom: 50px;

    &__header {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 1.75rem;
            padding-right: 80px;
            font-weight: bold;
            margin-top: 10px;
        }

        p:nth-child(2) {
            text-decoration: underline;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }
}
