.congratulation-page {
    width: 100%;
    margin: 0;
    position: relative;

    .row {
        margin: 0;
    }

    .l-6:nth-child(1) {
        position: relative;
        height: 100vh;
        padding: 0;
        margin: 0;

        .background-left {
            background-image: url('https://raw.githubusercontent.com/ThaiHaiDev/StoreImage/main/Congratulation/%E2%80%94Pngtree%E2%80%94thank%20you%20text%20lettering_6425504.png');
            background-repeat: no-repeat;
            background-size: cover ;
            transform: scale(0.8);
            height: 100%;
            margin: 20px;
        }

        .sidebar__logo {
            position: absolute;
            left: 30px;
            // top: 20px;
            cursor: pointer;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }

    .l-6:nth-child(2) {
        margin: 0;
        position: relative;
        height: 100vh;
        padding: 0;
        background: black;

        .text-thanks {
            position: absolute;
            top: 40%;
            width: 100%;
            color: var(--white-color);
            text-align: center;

            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.3rem;
                padding: 0 80px;
            }
        }

        button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            background-color: var(--btn-red);
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 50px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 50ms ease-in;
            margin-top: 10px;
        }

        button:active {
            transform: scale(0.95);
        }

        button:focus {
            outline: none;
        }

        button:hover {
            background-color: var(--btn-red-hover);
        }
    }
    // Congratulation.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --border-color: #D7DBE3;
  font-family: 'Roboto', sans-serif;
  --green: #0CD977;
  --red: #FF1C1C;
  --pink: #FF93DE;
  --purple: #5767ED;
  --yellow: #FFC61C;
  --rotation: 0deg;
}

.congratulation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes confettiRain {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(100vh);
  }
}

.confetti {
  opacity: 0;
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

#confetti-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
}
