.favorites__page {
    position: relative;
    min-height: 150px;
    .no__favorites {
        width: 100%;

        padding-left: 100px;
        padding-right: 100px;

        h1 {
            font-size: 30px;
            margin-bottom: 50px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            color: var(--text-color);
            font-size: 16px;
            width: 500px;
            line-height: 1.2;
        }
    }

    .empty__favorites {
        position: absolute;
        top: 65%;
        left: 38%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &__image {
            max-width: 100%;
            height: auto;
        }
        &__title-empty {
            font-size: large;
            font-weight: bold;
            margin-bottom: 5px;
        }
        &__content-empty {
            font-size: medium;
            font-weight: lighter;
        }
    }

    .yes__favorites {
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;

        h1 {
            font-size: 30px;
            margin-bottom: 50px;
        }

        .row {
            margin-left: 40px;
            margin-right: 40px;
        }

        .card-item__favorite {
            border: 2px solid transparent;
            height: max-content;
            cursor: pointer;
            border-radius: 5px;
            margin-bottom: 30px;

            .content__favorite {
                padding-bottom: 2px;
                border-bottom: 1px solid #bdbdbd;
                img {
                    width: 100%;
                    height: 240px;
                }

                .name__favorite {
                    margin: 0;
                    width: 100%;
                    white-space: nowrap;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 15px;
                    padding-left: 15px;
                    padding-bottom: 2px;
                }

                .price__favorite {
                    margin: 0;
                    font-size: 13px;
                    font-weight: 300;
                    padding-left: 16px;
                    display: flex;
                    padding-right: 5px;
                }

                .book-now {
                    margin: 0;
                    font-size: 12px;
                    color: var(--blue-link);
                    padding-left: 16px;
                }
            }

            .card-like {
                padding: 3px 0;
                height: max-content;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon_love__true {
                    color: red;
                    font-size: 25px;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                    padding-left: 10px;
                }
            }
        }

        .card-item__favorite:hover {
            border: 2px solid #bdbdbd;
        }
    }
}
