.video-intro-detail {
    margin: 0 auto;
    width: 50%;
    padding-inline-start: 0;

    .file-item {
        padding: 0 1.2rem;
        list-style: none;
        margin: 1.2em 0;
        background-color: #f55e3038;
        border-radius: 5px;
        display: flex;
        align-items: center;

        svg {
            color: #f55321;
            &:first-child {
                font-size: 1.2em;
                margin-right: 0.8em;
            }
        }

        p {
            flex: 1;
            font-size: 0.9rem;
            color: #000;
        }

        .file-item__actions {
            justify-self: flex-end;
            cursor: pointer;

            .fa-spinner {
                font-size: 1.2em;
            }
        }
    }
}
