@use '../../assets/css/responsive.scss';
.web-content {
    .package-menu__head {
        font-size: 2em;
        font-weight: bold;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        margin-bottom: 20px;
        margin: 0 100px 0 100px;
    }

    .popular__container {
        position: relative;
        margin: 0 auto;
        padding: 44px 0 0;
        max-width: 1318px;
        height: 600px;
  
        .popular__item {
            &:hover {
                .package-thumbnail {
                    transform: scale(1.1);
                    transition: transform 0.5s;
                }
                .package-info {
                    display: block;
                }
                .package-info {
                    top: 40%;
                    text-align: center;
                    position: absolute;
                    width: 100%;

                    .package-heading {
                        font-size: large;
                        //color: var(--background-paper);
                        color: #FFF;
                    }
                    .package-desc {
                        font-size: medium;
                        position: relative;
                       // color: var(--background-paper);
                       color: #FFF;
                        width: fit-content;
                        margin: auto;
                        letter-spacing: 2px;
                        text-transform: none;
                    }
                }
            }
            position: absolute;
            text-align: center;
            border-radius: 50%;
            .popular__item__overlay {
            }
            .package-thumbnail {
                object-fit: cover;
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
            .package-info{
                top: 40%;
                text-align: center;
                position: absolute;
                width: 100%;
               
                .package-heading{
                    font-size: medium;
                    // color: var(--background-paper);
                    color: #FFF;
                    font-weight: 600;
 
                }
                .package-desc{
                    font-size: small;
                    position: relative;
                    // color: var(--background-paper);
                    color: #FFF;
                    width: fit-content;
                    margin: auto;
                    letter-spacing: 2px;
                    text-transform: none;
                }
            }
        }
        // Initial styles for larger screens
        .item-0 { top: 150px; left: 0; width: 285px; height: 285px; }
        .item-1 { top: 23px; left: 275px; width: 180px; height: 180px; }
        .item-2 { top: 198px; left: 387px; width: 163px; height: 163px; }
        .item-3 { top: 408px; left: 280px; width: 150px; height: 150px; }
        .item-4 { top: 12px; left: 575px; width: 266px; height: 266px; }
        .item-5 { top: 310px; left: 776px; width: 163px; height: 163px; }
        .item-6 { top: 361px; left: 497px; width: 200px; height: 200px; }
        .item-7 { top: 155px; left: 912px; width: 145px; height: 145px; }
        .item-8 { top: 54px; left: 1100px; width: 163px; height: 163px; }
        .item-9 { top: 259px; left: 1050px; width: 266px; height: 266px; }
        .item-10 { top: 440px; left: 906px; width: 133px; height: 133px; }

        @include responsive.desktop {
            .item-0 { top: 150px; left: 0; width: 285px; height: 285px; }
            .item-1 { top: 23px; left: 275px; width: 180px; height: 180px; }
            .item-2 { top: 198px; left: 387px; width: 163px; height: 163px; }
            .item-3 { top: 408px; left: 280px; width: 150px; height: 150px; }
            .item-4 { top: 12px; left: 575px; width: 266px; height: 266px; }
            .item-5 { top: 310px; left: 776px; width: 163px; height: 163px; }
            .item-6 { top: 361px; left: 497px; width: 200px; height: 200px; }
            .item-7 { top: 155px; left: 912px; width: 145px; height: 145px; }
            .item-8 { top: 54px; left: 1100px; width: 163px; height: 163px; }
            .item-9 { top: 259px; left: 1050px; width: 266px; height: 266px; }
            .item-10 { top: 440px; left: 906px; width: 133px; height: 133px; }
        }

        @include responsive.laptop {
            .item-0 { top: 150px; left: 0; width: 250px; height: 250px; }
            .item-1 { top: 23px; left: 230px; width: 160px; height: 160px; }
            .item-2 { top: 198px; left: 350px; width: 150px; height: 150px; }
            .item-3 { top: 408px; left: 250px; width: 130px; height: 130px; }
            .item-4 { top: 12px; left: 520px; width: 240px; height: 240px; }
            .item-5 { top: 310px; left: 700px; width: 150px; height: 150px; }
            .item-6 { top: 361px; left: 450px; width: 180px; height: 180px; }
            .item-7 { top: 155px; left: 800px; width: 130px; height: 130px; }
            .item-8 { top: 54px; left: 950px; width: 150px; height: 150px; }
            .item-9 { top: 259px; left: 900px; width: 240px; height: 240px; }
            .item-10 { top: 440px; left: 800px; width: 120px; height: 120px; }
        }

        @include responsive.tablet {
            .item-0 { top: 120px; left: 0; width: 200px; height: 200px; }
            .item-1 { top: 20px; left: 190px; width: 140px; height: 140px; }
            .item-2 { top: 170px; left: 300px; width: 130px; height: 130px; }
            .item-3 { top: 350px; left: 200px; width: 110px; height: 110px; }
            .item-4 { top: 10px; left: 450px; width: 200px; height: 200px; }
            .item-5 { top: 270px; left: 600px; width: 130px; height: 130px; }
            .item-6 { top: 300px; left: 400px; width: 160px; height: 160px; }
            .item-7 { top: 130px; left: 700px; width: 110px; height: 110px; }
            .item-8 { top: 50px; left: 830px; width: 130px; height: 130px; }
            .item-9 { top: 220px; left: 800px; width: 200px; height: 200px; }
            .item-10 { top: 370px; left: 700px; width: 100px; height: 100px; }
        }

        @include responsive.mobile-large {
            .item-0 { top: 100px; left: 0; width: 150px; height: 150px; }
            .item-1 { top: 15px; left: 140px; width: 110px; height: 110px; }
            .item-2 { top: 140px; left: 230px; width: 100px; height: 100px; }
            .item-3 { top: 300px; left: 160px; width: 90px; height: 90px; }
            .item-4 { top: 8px; left: 350px; width: 160px; height: 160px; }
            .item-5 { top: 230px; left: 470px; width: 100px; height: 100px; }
            .item-6 { top: 250px; left: 320px; width: 130px; height: 130px; }
            .item-7 { top: 110px; left: 570px; width: 90px; height: 90px; }
            .item-8 { top: 40px; left: 670px; width: 100px; height: 100px; }
            .item-9 { top: 180px; left: 650px; width: 160px; height: 160px; }
            .item-10 { top: 300px; left: 570px; width: 80px; height: 80px; }
        }

        @include responsive.mobile-medium {
            .item-0 { top: 80px; left: 0; width: 120px; height: 120px; }
            .item-1 { top: 10px; left: 110px; width: 90px; height: 90px; }
            .item-2 { top: 110px; left: 180px; width: 80px; height: 80px; }
            .item-3 { top: 240px; left: 130px; width: 70px; height: 70px; }
            .item-4 { top: 6px; left: 280px; width: 130px; height: 130px; }
            .item-5 { top: 180px; left: 370px; width: 80px; height: 80px; }
            .item-6 { top: 200px; left: 260px; width: 100px; height: 100px; }
            .item-7 { top: 90px; left: 460px; width: 70px; height: 70px; }
            .item-8 { top: 30px; left: 540px; width: 80px; height: 80px; }
            .item-9 { top: 140px; left: 530px; width: 130px; height: 130px; }
            .item-10 { top: 240px; left: 460px; width: 60px; height: 60px; }
        }

        @include responsive.mobile-small {
            .item-0 { top: 60px; left: 0; width: 100px; height: 100px; }
            .item-1 { top: 8px; left: 90px; width: 70px; height: 70px; }
            .item-2 { top: 90px; left: 150px; width: 60px; height: 60px; }
            .item-3 { top: 200px; left: 110px; width: 50px; height: 50px; }
            .item-4 { top: 5px; left: 230px; width: 100px; height: 100px; }
            .item-5 { top: 150px; left: 300px; width: 60px; height: 60px; }
            .item-6 { top: 170px; left: 210px; width: 80px; height: 80px; }
            .item-7 { top: 70px; left: 370px; width: 50px; height: 50px; }
            .item-8 { top: 20px; left: 430px; width: 60px; height: 60px; }
            .item-9 { top: 110px; left: 420px; width: 100px; height: 100px; }
            .item-10 { top: 180px; left: 370px; width: 40px; height: 40px; }
        }
    }
}
