.new-accom__page {
    .header__customer {
        margin-bottom: 20px;

        .page-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .new-accom__container {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .new-accom__list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .table-empty {
                display: flex;
                height: fit-content;
                width: 100%;
                align-items: center;
                flex-direction: column;
                img {
                    width: 200px;
                    height: 200px;
                }

                .table-empty__title {
                    font-weight: 400;
                    font-size: x-large;
                }
                .table-empty__content {
                    font-weight: 300;
                }
            }
        }

        .new-accom__item {
            display: flex;
            flex-direction: column;
            width: calc(33.3333% - 20px);
            background-color: #f9f9f9;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            .new-accom__img {
                width: 100%;
                height: 200px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .new-accom__content {
                padding: 15px;

                .new-accom__name {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .new-accom__address,
                .new-accom__price {
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                .new-accom__price {
                    font-weight: bold;
                    color: #007bff;
                }
            }
        }
    }
}
