.listdatanull {
    width: 100%;
    height: 200px;
    background: #e0e0e0;
    display: grid;
    justify-items: center; /* Căn giữa chiều ngang */
    align-content: center; /* Căn giữa chiều dọc */

    p {
        font-size: 15px;
    }
}
