.add-form-facility {
    background: white;
    width: 100%;
    height: 500px;

    .key-col {
        padding: 0 20px;

        .title-field {
            margin-bottom: 5px;
            font-size: 15px;
        }

        .add-form__input {
            border-radius: 8px;
            border: 1px solid black;
            width: 100%;
            padding: 5px 20px 5px 10px;
            height: 40px;
            margin-bottom: 2px;
        }
        .add-form__select {
            border-radius: 8px;
            border: 1px solid black;
            width: 40%;
            padding: 5px 20px 5px 10px;
            margin-bottom: 2px;
            font-size: 15px;
            text-align: center;
            font-weight: 300;
        }

        .message_error {
            padding: 10px;
            color: var(--main-color-red);
            font-size: 14px;
        }
    }
    .btn-save_newdata {
        border-radius: 8px;
        height: 33px;
        width: 98px;
        margin: 12px;
        padding: 5px 10px;
        background: #1e88e5;
        color: white;
        font-weight: 552;
        font-size: medium;
    }
    .btn-save_newdata:hover {
        background: #1976d2;
    }
}
