.home__admin {
    .header__customer {
        display: flex;
        justify-content: space-between;

        .page-header {
            font-size: 17px;
        }

        .btn__add-customer__admin {
            height: 50%;
            padding: 7px 35px;
            background: #43a047;
            color: white;
            font-weight: bold;
            display: flex;
            border-radius: 8px;
            margin-bottom: 25px;

            .icon__admin {
                font-size: 21px;
                margin: 0;
                margin-right: 8px;
                margin-left: -5px;
            }

            .text__admin {
                margin: 0;
                font-size: 15px;
                margin-top: 3px;
            }
        }

        .btn__add-customer:hover {
            background: #00c853;
        }
    }

    .icon__btn {
        width: 24px;
    }
}
