.calendar-statistic {
    display: flex;
    flex-direction: column;
    width: 650px;
    z-index: 91;
    position: absolute;
    right: 100px;
    margin-top: -5px;

    .input-date-statistic {
        width: 100%;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid var(--text-color);
        font-family: Roboto;
        margin-left: 10px;
    }

    .info_date {
        display: flex;
        flex-wrap: wrap;

        .output {
            width: 40%;

            input {
                padding: 6px;
                width: 70%;
            }
        }

        .output:nth-child(2) {
            margin-left: 28px;
        }
    }
}
