.slider__bedroom {
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 1em;

    h1 {
        font-size: 2rem;
        margin-left: -10px;
    }

    .slick-dots {
        padding-top: 5px;
    }

    .slider__item {
        width: 92%;
        height: 140px;
        margin: auto;
        border-radius: 18px;
        margin: 5px;
        margin-left: 10px;
        cursor: pointer;
        border: 1px solid var(--text-color);
        display: grid;
        justify-content: center;

        .icon-bed {
            display: flex;
            margin-top: 25px;
            padding-left: 15px;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        .title-bed {
            margin-top: -15px;

            p {
                padding-left: 3px;
            }
        }
    }
}
