.dropdown-admin {
    position: relative;
    z-index: 99;
}

.dropdown__toggle {
    border: 0;
    outline: 0;
    background-color: transparent;
    position: relative;
}

.dropdown__toggle > i {
    font-size: 25px;
    color: var(--txt-color);
}

.dropdown__toggle-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--txt-white);
    font-size: 0.8rem;
}

.dropdown__content {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: max-content;
    max-width: 400px;
    background-color: vaR(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    transform-origin: top right; // Hiện dropdown từ trên bên phải xuống
    transform: scale(0); // Ẩn dropdown
    transition: transform 0.3s ease 0s; // Set time cho hiện dropdown transform 0.3s
}

.dropdown__content.active {
    transform: scale(1);
    transition: transform 0.5s var(--transition-cubic);
}

.dropdown__footer {
    padding: 20px;
    text-align: center;
}
