.client-payment-success {
    .payment-success-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
            height: 200px;
        }
    }
}
