.active__acount__container {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 25px;
    height: 700px;
    position: relative;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    .active__account {
        width: 100%;
        display: grid;
        justify-items: center;
        .btn_active_account {
            background-color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
            color: #000;
            font-weight: 600;
            cursor: pointer;
            margin-top: 15px;
            transition: all 0.3s ease-in-out;
        }
    }

    &.active__account {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
        align-items: center;
        padding-bottom: 25px;
        padding-top: 10px;
        align-self: center;

        &.text__active__account {
            text-align: center;
            margin-top: 8px;
            padding: 10px;
            width: 80%;
        }
        &.animated {
            background-repeat: no-repeat;
            background-position: left top;
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}
