.image-of-room__setting {
    margin-top: 20px;

    .content__count-of-room {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;

        h4 {
            margin: 0;
            font-size: 14px;
        }
    
    }
}
