.container-comments {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;

    .container-comment {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        border-radius: 7px;
        margin-left: 15px;
        margin-right: 15px;
        border: 2px solid var(--divider);
        // min-height: 200px;
        height: max-content;
        min-height: 125px;

        .commentator {
            display: flex;

            .commentator-avatar {
                margin-top: 20px;
                margin-left: 30px;
                height: 75px;
                width: 75px;
            }

            .commentator-name {
                margin-top: 43px;
                margin-left: 14px;
                font-size: large;
                font-weight: 600;
            }
        }

        .comment-info {
            width: 830px;

            .heading {
                justify-content: space-between;
                display: flex;
                padding-right: 20px;
                padding-top: 5px;

                .star-rating {
                    color: var(--yellow);
                    font-size: x-large;
                    width: max-content;
                }
                .comment-time {
                    font-size: small;
                    display: flex;
                    padding-top: 10px;
                    font-weight: 500;
                    p {
                        font-size: medium;
                        margin-left: 5px;
                        margin-top: 0px;
                    }
                }
            }

            .comment-content {
                display: flex;
                font-size: small;
                margin-bottom: 5px;
                margin-top: -5px;
                text-align: start;
            }
            .image-list {
                display: flex;
                padding-bottom: 10px;
            }
            .comment-image {
                height: 100px;
                width: 100px;
                margin-right: 10px;
                border-radius: 5px;
            }
        }
    }
    .thelast {
        display: flex;
        justify-content: center;

        .show-more-button {
            border: none;
            color: var(--primary-main);
            background: inherit;
            font-size: medium;
            font-weight: 600;
        }
        .show-more-button:hover {
            background-color: var(--input-background);
            border-radius: 5px;
        }
    }
}
.container__emtyComment {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    .emtyComment {
        width: 30%;
        margin-top: -100px;
        // filter: var(--filter-notbooking);
    }
    p {
        font-weight: 600;
        font-size: x-large;
    }
}
