* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font-size: 80%; */
    line-height: 1.6rem;
    font-family: Verdana, Arial, sans-serif;
}

body {
    margin: 0;
}

/* Keyframe */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.yellow-underline,
.red-underline,
.blue-underline,
.green-underline {
    position: relative;
    z-index: 1;
}

.yellow-underline::after,
.red-underline::after,
.blue-underline::after,
.green-underline::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 5px;
    z-index: -1;
}

.green-underline::after {
    background-color: var(--green-color);
}

.red-underline::after {
    background-color: var(--red-color);
}

.blue-underline::after {
    background-color: var(--blue-color);
}

.yellow-underline::after {
    background-color: var(--yellow-color);
}
.noti-fix {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.background {
    background-color: var(--background-default);
    color: var(--background-contrastText);
}
