.owner__setting {

    .tab-content {
       
        padding-left: 100px;
        padding-right: 100px;

        button {
            font-size: 16px;
            text-transform: none;
        }

        .listdata_summary {
            // .MuiDataGrid-virtualScroller {
            //     overflow-x: hidden;
            // }

            .btn-check-status {
                background: #42a5f5;
                border: none;
                color: white;
                font-size: 14px;
                padding: 5px 15px;
                cursor: pointer;
                margin-bottom: 10px;
                margin-right: 10px;
                border-radius: 3px;
            }

            .btn-check-status:hover {
                background: #1e88e5;
            }
        }

        .MuiTablePagination-displayedRows {
            font-size: 14px;
        }
    }
    .pulse-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pulse {
        width: 50px;
        height: 50px;
        background-color: #3498db;
        border-radius: 50%;
        animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.8);
            box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7);
        }
        50% {
            transform: scale(1.2);
            box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
        }
        100% {
            transform: scale(0.8);
            box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        }
    }
}
